.titleWrapper {
  margin-left: 38px;
  @apply flex flex-row justify-start items-center md:flex-[0.5] flex-initial;
}

.header_title {
  font-family: 'Baloo 2';
  font-style: bold;
  font-weight: 500;
  font-size: 30px;
  line-height: 48px;
  text-transform: uppercase;

  color: #000000;
}

.connect_button {
  margin-right: 105px;
  width: 204px;
  height: 44px;

  background: #96FF9A;
  border: 2px solid #000000;
  border-radius: 22px;

  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  white-space: nowrap;

  color: #000000;

  @apply md:text-xs p-2 rounded-full cursor-pointer;
}